hertz-mdm/webapps/WEB-INF/ebx/schemas/BusinessLanguageDataModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--XML schema generated from EBX5 DMA instance [reference=BusinessLanguageDataModel] on Tue May 16 13:20:16 EDT 2017 by user [admin].-->
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxs="urn:ebx-schemas:session_1.0">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="http://schema.orchestranetworks.com/session_1.0.xsd"/>
    <xs:include schemaLocation="urn:ebx:module:hertz-mdm:/WEB-INF/ebx/schemas/BasicTypesDataModel.xsd"/>
    <xs:include schemaLocation="urn:ebx:module:hertz-mdm:/WEB-INF/ebx/schemas/CommonTypesDataModel.xsd"/>
    <xs:include schemaLocation="urn:ebx:module:hertz-mdm:/WEB-INF/ebx/schemas/LocationTypesDataModel.xsd"/>
    <xs:annotation>
        <xs:appinfo>
            <osd:extensions class="com.hertz.mdm.businesslanguage.schemaextension.BusinessLanguageSchemaExtension"/>
            <osd:inheritance>
                <dataSetInheritance>all</dataSetInheritance>
            </osd:inheritance>
            <ebxbnd:binding targetDirectory="../hertz-mdm/webapps/hertz-mdm/../../src">
                <javaPathConstants typeName="com.hertz.mdm.businesslanguage.path.BusinessLanguagePaths">
                    <nodes root="/" prefix="" relativeToRoot="false"/>
                </javaPathConstants>
            </ebxbnd:binding>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="root" osd:access="--">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BusinessLanguage" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">
                                <osd:label>Business Language</osd:label>
                            </xs:documentation>
                            <xs:appinfo>
                                <osd:table>
                                    <primaryKeys>/iD </primaryKeys>
                                    <historyProfile>ebx-allBranches</historyProfile>
                                    <defaultLabel>${./businessAsset}</defaultLabel>
                                </osd:table>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:sequence>
                            <xs:element name="iD" type="xs:int" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>ID</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:autoIncrement/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hierarchy" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Hierarchy</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="businessAsset" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Business Asset/Term</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="parent" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Parent</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/BusinessLanguage</tablePath>
                                                <display>
                                                    <pattern>${./businessAsset}</pattern>
                                                </display>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="abbreviation" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Abbreviation</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Definition" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Definition</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="osd:text">
                                        <xs:maxLength value="2000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="synonyms" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Synonyms</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="description" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Description</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="osd:text">
                                        <xs:maxLength value="2000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="businessUnit" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Business Unit</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="subjectArea" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Subject Area</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="osd:text">
                                        <xs:maxLength value="2000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="systemsOfRecord" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Systems of Record</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="dataStore" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Data Store</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="locale" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Locale</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="relatedTerms" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Related Terms</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="date" type="xs:date" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Date</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="status" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Status</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BusinessTerm" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">
                                <osd:label>Business Term</osd:label>
                            </xs:documentation>
                            <xs:appinfo>
                                <osd:table>
                                    <primaryKeys>/id </primaryKeys>
                                    <defaultLabel>${./name}</defaultLabel>
                                </osd:table>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:sequence>
                            <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Id</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:autoIncrement/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Name</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="definition" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Definition</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="osd:text">
                                        <xs:maxLength value="2000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Description</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="systemOfRecord" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>System Of Record</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="domain" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Domain</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/Domain</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="system" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>System</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/System</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataStewards" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Data Stewards</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <linkTable>
                                                <table>/root/BusinessTermDataStewardRelationship</table>
                                                <fieldToSource>/root/BusinessTermDataStewardRelationship/businessTerm</fieldToSource>
                                                <fieldToTarget>/root/BusinessTermDataStewardRelationship/dataSteward</fieldToTarget>
                                            </linkTable>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DataDictionaryAttribute" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">
                                <osd:label>Data Dictionary Attribute</osd:label>
                            </xs:documentation>
                            <xs:appinfo>
                                <osd:table>
                                    <primaryKeys>/id </primaryKeys>
                                    <defaultLabel>${./attributeName}</defaultLabel>
                                </osd:table>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:sequence>
                            <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Id</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:autoIncrement/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="entity" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Entity</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="attributeName" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Attribute Name</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="attributeDescription" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Attribute Description</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataClassification" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Data Classification</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataDictionaryEntities" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Data Dictionary Entities</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <linkTable>
                                                <table>/root/DataDictionaryEntityAttributeRelationship</table>
                                                <fieldToSource>/root/DataDictionaryEntityAttributeRelationship/dataDictionaryAttribute</fieldToSource>
                                                <fieldToTarget>/root/DataDictionaryEntityAttributeRelationship/dataDictionaryEntity</fieldToTarget>
                                            </linkTable>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DataDictionaryEntity" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">
                                <osd:label>Data Dictionary Entity</osd:label>
                            </xs:documentation>
                            <xs:appinfo>
                                <osd:table>
                                    <primaryKeys>/base/id </primaryKeys>
                                    <defaultLabel>${./base/name}</defaultLabel>
                                </osd:table>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:sequence>
                            <xs:element name="base" type="Base" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Base</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="system" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>System</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/System</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="attributes" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Attributes</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <linkTable>
                                                <table>/root/DataDictionaryEntityAttributeRelationship</table>
                                                <fieldToSource>/root/DataDictionaryEntityAttributeRelationship/dataDictionaryEntity</fieldToSource>
                                                <fieldToTarget>/root/DataDictionaryEntityAttributeRelationship/dataDictionaryAttribute</fieldToTarget>
                                            </linkTable>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DataSteward" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">
                                <osd:label>Data Steward</osd:label>
                            </xs:documentation>
                            <xs:appinfo>
                                <osd:table>
                                    <primaryKeys>/id </primaryKeys>
                                    <defaultLabel>${./name/firstName} ${./name/middleName} ${./name/lastName}</defaultLabel>
                                </osd:table>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:sequence>
                            <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Id</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:autoIncrement/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name" type="PersonName" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Name</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="businessTerms" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Business Terms</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <linkTable>
                                                <table>/root/BusinessTermDataStewardRelationship</table>
                                                <fieldToSource>/root/BusinessTermDataStewardRelationship/dataSteward</fieldToSource>
                                                <fieldToTarget>/root/BusinessTermDataStewardRelationship/businessTerm</fieldToTarget>
                                            </linkTable>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Domain" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">
                                <osd:label>Domain</osd:label>
                            </xs:documentation>
                            <xs:appinfo>
                                <osd:table>
                                    <primaryKeys>/base/id </primaryKeys>
                                    <defaultLabel>${./base/name}</defaultLabel>
                                </osd:table>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:sequence>
                            <xs:element name="base" type="Base" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Base</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="businessTerms" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Business Terms</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <tableRefInverse>
                                                <fieldToSource>/root/BusinessTerm/domain</fieldToSource>
                                            </tableRefInverse>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="System" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">
                                <osd:label>System</osd:label>
                            </xs:documentation>
                            <xs:appinfo>
                                <osd:table>
                                    <primaryKeys>/id </primaryKeys>
                                    <defaultLabel>${./systemName}</defaultLabel>
                                </osd:table>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:sequence>
                            <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Id</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:autoIncrement/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="systemName" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>System Name</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="businessOwner" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Business Owner</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="itOwner" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>IT Owner</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="businessTerms" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Business Terms</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <tableRefInverse>
                                                <fieldToSource>/root/BusinessTerm/system</fieldToSource>
                                            </tableRefInverse>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataDictionaryEntities" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Data Dictionary Entities</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <tableRefInverse>
                                                <fieldToSource>/root/DataDictionaryEntity/system</fieldToSource>
                                            </tableRefInverse>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BusinessTermDataStewardRelationship" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">
                                <osd:label>BusinessTerm/DataSteward Relationship</osd:label>
                            </xs:documentation>
                            <xs:appinfo>
                                <osd:table>
                                    <primaryKeys>/businessTerm /dataSteward </primaryKeys>
                                </osd:table>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:sequence>
                            <xs:element name="businessTerm" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Business Term</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/BusinessTerm</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataSteward" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Data Steward</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/DataSteward</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DataDictionaryEntityAttributeRelationship" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">
                                <osd:label>DataDictionaryEntity/Attribute Relationship</osd:label>
                            </xs:documentation>
                            <xs:appinfo>
                                <osd:table>
                                    <primaryKeys>/dataDictionaryEntity /dataDictionaryAttribute </primaryKeys>
                                </osd:table>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:sequence>
                            <xs:element name="dataDictionaryEntity" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Data Dictionary Entity</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/DataDictionaryEntity</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataDictionaryAttribute" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Data Dictionary Attribute</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/DataDictionaryAttribute</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
