hertz-mdm/webapps/WEB-INF/ebx/schemas/VehicleDataModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--XML schema generated from EBX5 DMA instance [reference=VehicleDataModel] on Mon Nov 20 21:29:15 CST 2017 by user [admin].-->
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxs="urn:ebx-schemas:session_1.0">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="http://schema.orchestranetworks.com/session_1.0.xsd"/>
    <xs:include schemaLocation="./BasicTypesDataModel.xsd"/>
    <xs:include schemaLocation="./CommonTypesDataModel.xsd"/>
    <xs:include schemaLocation="./VehicleTypesDataModel.xsd"/>
    <xs:include schemaLocation="urn:ebx:module:ebx-addon-daqa:/WEB-INF/ebx/schema/ebx-addon-daqa-types.xsd"/>
    <xs:annotation>
        <xs:appinfo>
            <osd:extensions class="com.hertz.mdm.vehicle.schemaextension.VehicleSchemaExtension"/>
            <osd:inheritance>
                <dataSetInheritance>all</dataSetInheritance>
            </osd:inheritance>
            <ebxbnd:binding targetDirectory="../hertz-mdm/webapps/hertz-mdm/../../src">
                <javaPathConstants typeName="com.hertz.mdm.vehicle.path.VehiclePaths">
                    <nodes root="/" prefix="" relativeToRoot="false"/>
                </javaPathConstants>
            </ebxbnd:binding>
            <osd:replication>
                <name>VehicleDataSet</name>
                <dataSpace>VehicleMasterDataSpace</dataSpace>
                <dataSet>VehicleDataSet</dataSet>
                <refresh>onCommit</refresh>
                <table>
                    <path>/root/Model</path>
                    <nameInDatabase>db_vhcl_model</nameInDatabase>
                </table>
                <table>
                    <path>/root/VehicleData/VehicleAsset</path>
                    <nameInDatabase>db_vhcl_vehicle_asset</nameInDatabase>
                </table>
                <table>
                    <path>/root/Vehicle</path>
                    <nameInDatabase>db_vhcl_vehicle</nameInDatabase>
                </table>
                <table>
                    <path>/root/VinException</path>
                    <nameInDatabase>db_vhcl_vin_exception</nameInDatabase>
                </table>
            </osd:replication>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="root" osd:access="--">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Vehicle" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Vehicle</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/id </primaryKeys>
                                <index name="dq_metadata_complete">/DaqaMetaData/ClusterId /DaqaMetaData/Score /DaqaMetaData/State /id </index>
                                <index name="dq_state">/DaqaMetaData/State </index>
                                <index name="dq_score">/DaqaMetaData/Score </index>
                                <index name="dq_metadata_light">/DaqaMetaData/ClusterId /DaqaMetaData/Score </index>
                                <index name="dq_metadata_exact">/vehicleIdentificationNumber /DaqaMetaData/OperationCode /DaqaMetaData/State /DaqaMetaData/ClusterId </index>
                                <historyProfile>ebx-allBranches</historyProfile>
                                <defaultView>
                                    <toolbars>
                                        <tabularViewTop>TableTop</tabularViewTop>
                                        <tabularViewRow>TableRow</tabularViewRow>
                                        <recordTop>Vehicle Record</recordTop>
                                    </toolbars>
                                    <displayOfGroups>tab</displayOfGroups>
                                </defaultView>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>ID</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:autoIncrement/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="DaqaMetaData" type="DaqaMetaData" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Daqa Meta Data</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="sourceSystem" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Source System</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="vehicleIdentificationNumber" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>VIN</osd:label>
                                        <osd:description>The Original Equipment Manufacturer’s unique code for an individual motor vehicle.  The car's vehicle identification number (VIN) is the identifying code for a SPECIFIC automobile. &#13;
 &#13;
The VIN serves as the car's fingerprint, as no two vehicles in operation have the same VIN. &#13;
&#13;
A VIN is composed of 17 characters (digits and capital letters) that act as a unique identifier for the vehicle.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="17"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="modelYear" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Model Year</osd:label>
                                        <osd:description>The year the vehicle was built</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="trim" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Trim</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="vehicleDescription" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Vehicle Description</osd:label>
                                        <osd:description>Longer description of the vehicle.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="osd:text">
                                        <xs:maxLength value="2000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="doorCount" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Door Count</osd:label>
                                        <osd:description>Number of doors in vehicle</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="engineCylinders" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Engine Cylinders</osd:label>
                                        <osd:description>Engine capacity.</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:totalDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="model" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Model</osd:label>
                                        <osd:description>This column contains a unique identifier for each instance of model.</osd:description>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/Model</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="owningCountry" type="xs:string" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Owning Country</osd:label>
                                        <osd:description>3-char ISO country code.</osd:description>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <container>CommonReferenceDataSet</container>
                                                <branch>CommonReferenceMasterDataSpace</branch>
                                                <tablePath>/root/Country_ISO3166-1</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="seatType" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Seat Type</osd:label>
                                        <osd:description>Seat Type Code&#13;
&#13;
FOS: POVEH.VEH_SEAT_TYPE&#13;
FOS: POVEH.VEH_CLOTH_SEATS&#13;
FOS: POVEH.VEH_PWR_SEATS&#13;
VISION: Not found&#13;
&#13;
&#13;
</osd:description>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <container>VehicleReferenceDataSet</container>
                                                <tablePath>/root/SeatType</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="sipp" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>SIPP</osd:label>
                                        <osd:description>SIPP Codes are 4 letter codes. Each position relates to a type of vehicle information:&#13;
First Position: Category: Mini, Economy, Full-Size etc&#13;
Second Position: Type: 2 door, 4 door, SUV etc&#13;
Third Position: Transmission/Drive: Manual Drive, Automatic Drive etc&#13;
Fourth Position: Fuel and Air Conditioning (Hertz does not own cars without air): Hybrid Air, Electric Air, Petrol Air, etc&#13;
</osd:description>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <container>VehicleReferenceDataSet</container>
                                                <tablePath>/root/Sipp</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="sippFirstTwoDigits" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>SIPP First Two Digits</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="wheelDrive" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Wheel Drive</osd:label>
                                        <osd:description>Wheel Drive Code&#13;
&#13;
FOS: POVEH.VEH_WHEEL_DRIVE &#13;
          Value list: A, F, 4, etc.&#13;
VISION: EQUIP_01_CD, … EQUIP_16_CD: Value FW for front drive.&#13;
&#13;
&#13;
</osd:description>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <container>VehicleReferenceDataSet</container>
                                                <tablePath>/root/WheelDrive</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Colors" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Colors</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:defaultView>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="exteriorColor" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Exterior Color</osd:label>
                                                    <osd:description>Vehicle Exterior Color Code&#13;
&#13;
FOS: POVEH.VEH_EXTER_CODE&#13;
FOS: POVEH.VEH_INTER_CODE&#13;
FOS: CLRLST.LST_EXT_CODE&#13;
FOS: CLRLST.LST_INT_CODE&#13;
&#13;
VISION: None</osd:description>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <container>VehicleReferenceDataSet</container>
                                                            <tablePath>/root/ExteriorColor</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="interiorColor" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Interior Color</osd:label>
                                                    <osd:description>Vehicle Interior Color Code&#13;
&#13;
FOS: POVEH.VEH_EXTER_CODE&#13;
FOS: POVEH.VEH_INTER_CODE&#13;
FOS: CLRLST.LST_EXT_CODE&#13;
FOS: CLRLST.LST_INT_CODE&#13;
&#13;
VISION: None</osd:description>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <container>VehicleReferenceDataSet</container>
                                                            <tablePath>/root/InteriorColor</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="roofColor" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Roof Color</osd:label>
                                                    <osd:description>Vehicle Roof Code&#13;
&#13;
This is roof color code&#13;
FOS: POVEH.VEH_ROOF_CODE &#13;
</osd:description>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <container>VehicleReferenceDataSet</container>
                                                            <tablePath>/root/RoofColor</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vehicleColor" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Vehicle Color</osd:label>
                                                    <osd:description>Vehicle Color Code&#13;
&#13;
FOS: CCO1.CCO_CODE&#13;
FOS: POVEH.VEH_ASAP_COLOR_CODE&#13;
FOS: MODEL.MOD_COLOR_SEL - Not sure if this the generic color code. Need verify.&#13;
VISION: VIVE_VEHICLE.COLOR_CD&#13;
&#13;
Reference table: FOS: COL1 table could be the reference table for generic color codes. Need verify.&#13;
&#13;
</osd:description>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <container>VehicleReferenceDataSet</container>
                                                            <tablePath>/root/VehicleColor</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Features" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Features</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:defaultView>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="hasABSBrakes" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has ABS Brakes?</osd:label>
                                                    <osd:description>Flag to indicate if ABS brake is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasAirConditioning" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Air Conditioning?</osd:label>
                                                    <osd:description>Flag to indicate if air conditioner is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasAntiTheftOption" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Anti Theft Option?</osd:label>
                                                    <osd:description>Flag to indicate if anti theft option is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasAutomaticTransmission" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Automatic Transmission?</osd:label>
                                                    <osd:description>Flag to indicate if auto transmission is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasClothSeats" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Cloth Seats?</osd:label>
                                                    <osd:description>Flag to indicate if cloth seats is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasCruiseControl" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Cruise Control?</osd:label>
                                                    <osd:description>Flag to indicate if cruise control is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasDriverAirbag" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Driver Airbag?</osd:label>
                                                    <osd:description>Flag to indicate if driver airbag option is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasNeverLost" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has NeverLost?</osd:label>
                                                    <osd:description>Flag to indicate if neverlost is in vehicle.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasPassengerAirbag" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Passenger Airbag?</osd:label>
                                                    <osd:description>Flag to indicate if passenger airbag option is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasPowerLocks" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Power Locks?</osd:label>
                                                    <osd:description>Flag to indicate if power lock is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasPowerSeats" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Power Seats?</osd:label>
                                                    <osd:description>Flag to indicate if power seats is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasPowerWindows" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Power Windows?</osd:label>
                                                    <osd:description>Flag to indicate if power window is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasRadio" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Radio?</osd:label>
                                                    <osd:description>Flag to indicate if radio option is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasRearAirbag" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Rear Airbag?</osd:label>
                                                    <osd:description>Flag to indicate if rear airbag option is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasSatelliteRadio" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Satellite Radio?</osd:label>
                                                    <osd:description>Flag to indicate if satellite radio is in vehicle.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasSideAirbag" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Side Airbag?</osd:label>
                                                    <osd:description>Flag to indicate if side airbag option is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasSunroof" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Sunroof?</osd:label>
                                                    <osd:description>Flag to indicate if sunroof option is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasTiltWheel" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Tilt Wheel?</osd:label>
                                                    <osd:description>Flag to indicate if tilt wheel is available.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="hasZibox" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Has Zibox?</osd:label>
                                                    <osd:description>Flag to indicate if zibox is in vehicle.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Codes" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Codes</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:defaultView>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="engineCode" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Engine Code</osd:label>
                                                    <osd:description>Code for the vehicle engine.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ignitionKeyCode" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Ignition Key Code</osd:label>
                                                    <osd:description>Code for the ignition key.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="keylessCode" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Keyless Code</osd:label>
                                                    <osd:description>Code for keyless entry.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="transmissionCode" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Transmission Code</osd:label>
                                                    <osd:description>Code for the vehicle transmission.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="tollPassCode" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Toll Pass Code</osd:label>
                                                    <osd:description>Code for toll pass.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="2"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="trunkKeyCode" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Trunk Key Code</osd:label>
                                                    <osd:description>Code for the trunk key.</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="VehicleAssets" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Vehicle Assets</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <tableRefInverse>
                                                <fieldToSource>/root/VehicleData/VehicleAsset/vehicleFkey</fieldToSource>
                                            </tableRefInverse>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>inline</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="vinCarClass" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>VIN Car Class</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="manufacturerCode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Manufacturer Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="manufacturerModelCode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Manufacturer Model Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="VehicleData" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Vehicle Data</osd:label>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="VehicleAsset" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Vehicle Asset</osd:label>
                                        <osd:description>This table contains Vehicle Asset records. It is possible to have more than one Asset Tag per Vehicle based on it's lifecycle.&#13;
For the current FOS and VISION data, the Asset tag is a combination of Area and Unit Number and VIN (VIN is added to the natural key since the Unit Number is sometimes re-used within an Area) Area is the Owning Area (maintained in the MDM Location domain). It is the location where the vehicle is registered. &#13;
The Unit Number is a unque number assigned to a Vehicle within the Owning Area&#13;
</osd:description>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:table>
                                            <primaryKeys>/id </primaryKeys>
                                            <index name="dq_metadata_complete">/DaqaMetaData/ClusterId /DaqaMetaData/Score /DaqaMetaData/State /id </index>
                                            <index name="dq_state">/DaqaMetaData/State </index>
                                            <index name="dq_score">/DaqaMetaData/Score </index>
                                            <index name="dq_metadata_light">/DaqaMetaData/ClusterId /DaqaMetaData/Score /id </index>
                                            <index name="dq_metadata_exact">/assetTag /DaqaMetaData/OperationCode /DaqaMetaData/State /DaqaMetaData/ClusterId </index>
                                            <historyProfile>ebx-allBranches</historyProfile>
                                            <defaultView>
                                                <toolbars>
                                                    <tabularViewTop>Vehicle Asset TableTop</tabularViewTop>
                                                    <tabularViewRow>TableRow</tabularViewRow>
                                                    <recordTop>Vehicle Asset Record</recordTop>
                                                </toolbars>
                                                <displayOfGroups>tab</displayOfGroups>
                                            </defaultView>
                                        </osd:table>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>ID</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:autoIncrement/>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="DaqaMetaData" type="DaqaMetaData" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Daqa Meta Data</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="sourceSystem" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Source System</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="assetTag" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Asset Tag</osd:label>
                                                    <osd:description>For the current FOS and VISION data, the Asset tag is a combination of Area and Unit Number and VIN (VIN is added to the natural key since the Unit Number is sometimes re-used within an Area). &#13;
In the future, Asset Tag could be the natural Asset Kay from EAM.&#13;
</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="area" type="xs:string" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Area</osd:label>
                                                    <osd:description>This column contains a unique identifier for each instance of area number.</osd:description>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <container>LocationDataSet</container>
                                                            <branch>LocationMasterDataSpace</branch>
                                                            <tablePath>/root/Area</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="unitNumber" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Unit Number</osd:label>
                                                    <osd:description>This is a Hertz-assigned number intended to help uniquely identify a vehicle. It is unique within an Area barring some exceptions when the Unit Number is reused.&#13;
&#13;
</osd:description>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vehicleIdentificationNumber" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>VIN</osd:label>
                                                    <osd:description>The Original Equipment Manufacturer’s unique code for an individual motor vehicle. The car's vehicle identification number (VIN) is the identifying code for a SPECIFIC automobile. The VIN serves as the car's fingerprint, as no two vehicles in operation have the same VIN. A VIN is composed of 17 characters (digits and capital letters) that act as a unique identifier for the vehicle.</osd:description>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:uiBean class="com.orchestranetworks.ps.uibeaneditor.ReadOnlyUIBeanEditor">
                                                        <neverEditable>true</neverEditable>
                                                    </osd:uiBean>
                                                    <osd:inheritance>
                                                        <sourceRecord>/root/VehicleData/VehicleAsset/vehicleFkey</sourceRecord>
                                                        <sourceNode>./vehicleIdentificationNumber</sourceNode>
                                                    </osd:inheritance>
                                                    <osd:replication disable="true"/>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="17"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vehicleFkey" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Vehicle Fkey</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <tablePath>/root/Vehicle</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="licenseRegistrationCountry" type="xs:string" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>License Registration Country</osd:label>
                                                    <osd:description>This column contains a unique identifier for each instance of country.</osd:description>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <container>CommonReferenceDataSet</container>
                                                            <branch>CommonReferenceMasterDataSpace</branch>
                                                            <tablePath>/root/Country_ISO3166-1</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="licenseRegistrationState" type="xs:string" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>License Registration State</osd:label>
                                                    <osd:description>2-char ISO State or Province code, such as LA</osd:description>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <container>CommonReferenceDataSet</container>
                                                            <branch>CommonReferenceMasterDataSpace</branch>
                                                            <tablePath>/root/Subdivision_ISO3166-2</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Model" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Model</osd:label>
                            <osd:description>Table to store hertz model created in other hertz systems.</osd:description>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/model </primaryKeys>
                                <historyProfile>ebx-allBranches</historyProfile>
                                <defaultLabel>${./model} - ${./modelStyle}</defaultLabel>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="model" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Model</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="modelStyle" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Model Style</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="doorCount" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Door Count</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="description" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Description</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="additionalInformation" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Additional Information</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="modelGroup" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Model Group</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="make" type="xs:string" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Make</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <container>VehicleReferenceDataSet</container>
                                                <tablePath>/root/Make</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="VinException" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>VIN Exception</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/aliasVin /newOwningArea /newUnitNumber </primaryKeys>
                                <historyProfile>ebx-allBranches</historyProfile>
                                <defaultLabel>${./aliasVin}</defaultLabel>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="aliasVin" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Alias VIN</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="17"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="originalVin" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Original VIN</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="17"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="newOwningArea" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>New Owning Area</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="originalOwningArea" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Original Owning Area</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="originalUnitNumber" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Original Unit Number</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="newUnitNumber" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>New Unit Number</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
