hertz-mdm/webapps/WEB-INF/ebx/schemas/VehicleLandingDataModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--XML schema generated from EBX5 DMA instance [reference=VehicleLandingDataModel] on Fri Dec 01 13:20:59 EST 2017 by user [admin].-->
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxs="urn:ebx-schemas:session_1.0">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="http://schema.orchestranetworks.com/session_1.0.xsd"/>
    <xs:include schemaLocation="./BasicTypesDataModel.xsd"/>
    <xs:include schemaLocation="./CommonTypesDataModel.xsd"/>
    <xs:include schemaLocation="./VehicleTypesDataModel.xsd"/>
    <xs:include schemaLocation="urn:ebx:module:ebx-addon-daqa:/WEB-INF/ebx/schema/ebx-addon-daqa-types.xsd"/>
    <xs:annotation>
        <xs:appinfo>
            <osd:extensions class="com.hertz.mdm.vehicle.schemaextension.VehicleSchemaExtension"/>
            <osd:inheritance>
                <dataSetInheritance>all</dataSetInheritance>
            </osd:inheritance>
            <ebxbnd:binding targetDirectory="../hertz-mdm/webapps/hertz-mdm/../../src">
                <javaPathConstants typeName="com.hertz.mdm.vehicle.path.VehiclePaths">
                    <nodes root="/" prefix="" relativeToRoot="false"/>
                </javaPathConstants>
            </ebxbnd:binding>
            <osd:replication>
                <name>VehicleLandingDataSet</name>
                <dataSpace>VehicleLandingDataSpace</dataSpace>
                <dataSet>VehicleLanding</dataSet>
                <refresh>onCommit</refresh>
                <table>
                    <path>/root/Vehicle</path>
                    <nameInDatabase>db_vhcl_land_vehicle</nameInDatabase>
                </table>
                <table>
                    <path>/root/VehicleAsset</path>
                    <nameInDatabase>db_vhcl_land_vehicle_asset</nameInDatabase>
                </table>
            </osd:replication>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="root" osd:access="--">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Vehicle" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Vehicle</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/system /VIN </primaryKeys>
                                <historyProfile>ebx-allBranches</historyProfile>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="system" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Source System</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="VIN" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>VIN</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="17"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>ID</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:autoIncrement/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="modelYear" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Model Year</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="trim" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Trim</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="vehicleDescription" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Vehicle Description</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="osd:text">
                                        <xs:maxLength value="2000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="doorCount" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Door Count</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="engineCylinders" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Engine Cylinders</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="model" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Model</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="owningCountry" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Owning Country</osd:label>
                                        <osd:description>ISO Country code</osd:description>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="seatType" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Seat Type</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="sippCode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>SIPP Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="sippFirstTwoDigits" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>SIPP First Two Digits</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="wheelDrive" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Wheel Drive</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="exteriorColor" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Exterior Color</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="interiorColor" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Interior Color</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="roofColor" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Roof Color</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="vehicleColor" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Vehicle Color</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="hasABSBrakes" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has ABS Brakes?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasAirConditioning" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Air Conditioning?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasAntiTheftOption" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Anti Theft Option?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasAutomaticTransmission" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Automatic Transmission?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasClothSeats" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Cloth Seats?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasCruiseControl" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Cruise Control?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasDriverAirbag" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Driver Airbag?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasNeverLost" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has NeverLost?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasPassengerAirbag" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Passenger Airbag?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasPowerLocks" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Power Locks?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasPowerSeats" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Power Seats?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasPowerWindows" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Power Windows?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasRadio" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Radio?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasRearAirbag" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Rear Airbag?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasSatelliteRadio" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Satellite Radio?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasSideAirbag" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Side Airbag?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasSunroof" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Sunroof?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasTiltWheel" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Tilt Wheel?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="hasZibox" type="xs:boolean" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Has Zibox?</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="engineCode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Engine Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="ignitionKeyCode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Ignition Key Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="keylessCode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Keyless Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="transmissionCode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Transmission Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="tollPassCode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Toll Pass Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="trunkKeyCode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Trunk Key Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="vinCarClass" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>VIN Car Class</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="manufacturerCode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Manufacturer Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="manufacturerModelCode" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Manufacturer Model Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="startDate" type="xs:date" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Start Date</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="VehicleAsset" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Vehicle Asset</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/system /area /unitNumber /VIN </primaryKeys>
                                <historyProfile>ebx-allBranches</historyProfile>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="system" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Source System</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="assetTag" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Asset Tag</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:computationRule>
                                            <predicate>concat(./area,'|',./unitNumber,'|',./VIN)</predicate>
                                        </osd:computationRule>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="id" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>ID</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:autoIncrement/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="area" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Area</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="unitNumber" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Unit Number</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="VIN" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>VIN</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="17"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="vehicle" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Vehicle</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:computationRule>
                                            <predicate>concat(./system,'|',./VIN)</predicate>
                                        </osd:computationRule>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/Vehicle</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                        <osd:history disable="true"/>
                                        <osd:replication disable="true"/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="vehicleFkey" type="xs:int" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Vehicle Fkey</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:uiBean class="com.orchestranetworks.ps.uibeaneditor.ReadOnlyUIBeanEditor">
                                            <neverEditable>true</neverEditable>
                                        </osd:uiBean>
                                        <osd:inheritance>
                                            <sourceRecord>/root/VehicleAsset/vehicle</sourceRecord>
                                            <sourceNode>./id</sourceNode>
                                        </osd:inheritance>
                                        <osd:history disable="true"/>
                                        <osd:replication disable="true"/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="licenseRegistrationCountry" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>License Registration Country</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="licenseRegistrationState" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>License Registration State</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="startDate" type="xs:date" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Start Date</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
